<ion-view title="Blasters" id="page3">
  <ion-content padding="false" class="has-header">
    <div ng-init="videourl_video2=&quot;https://www.youtube.com/embed/7fNFfkjLl1c?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="blasters-video2">
      <iframe src="{{videourl_video2}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <ion-list id="blasters-list3">
      <ion-item class="item-avatar" id="blasters-list-item6">
        <img src="img/AAuE7mDcdFvJ8q9k_sVrscaZ0855-YhNwOkfro3zags48-mo-c-c0xffffffff-rj-k-no">
        <h2>Zexis Gaming</h2>
        <p>Published on Dec 28, 2018</p>
      </ion-item>
    </ion-list>
    <div id="blasters-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Some combos and strings for guns that are usefull in any matchup.</p>
    </div>
  </ion-content>
</ion-view>