<ion-view title="Brawlhalla Weapons" hide-back-button="true" id="page1">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/zWx64ZzHQHGZbZK9FKvE_brawlhallaicon.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="brawlhallaWeapons-list1">
      <ion-item class="item-icon-left" id="brawlhallaWeapons-list-item1">
        <i class="icon ion-information"></i>Weapons</ion-item>
      <ion-item class="item-thumbnail-left dark" id="brawlhallaWeapons-list-item2" ui-sref="scythe()">
        <img src="img/ycby7M9TcmuuGYzaIQQN_scyhteicon.png">
        <h2dark>Scythe
          <p style="white-space:normal;">Scythe is read heavy weapon and it has the potential to do devastating amounts of damage with its strings.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-thumbnail-left dark" id="brawlhallaWeapons-list-item3" ui-sref="blasters()">
        <img src="img/t0AuH8ljRxO0E5vTFQ02_gunsicon.png">
        <h2dark>Blasters
          <p style="white-space:normal;">Blasters have amazing strings and ture combos that can build up damage with dlight sair.</p>
        </h2dark>
      </ion-item>
      <ion-item class="item-thumbnail-left dark" id="brawlhallaWeapons-list-item4" ui-sref="gauntlents()">
        <img src="img/jW2GFVrIQ367slalBpkd_gauntsicon.png">
        <h2dark>Gauntlents
          <p style="white-space:normal;">gauntlents has small hitboxes but has amazing followup potential on every move it has.</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <a ui-sref="sliderAboutBrawlhalla()" id="brawlhallaWeapons-button1" style="font-weight:500;color:#000000;" class="button button-energized button-block">About Brawlahalla</a>
  </ion-content>
</ion-view>