<ion-view title="Scythe" id="page2">
  <ion-content padding="false" class="has-header">
    <div ng-init="videourl_video1=&quot;https://www.youtube.com/embed/iAUWIJLIOS8?rel=0&amp;showinfo=0&quot;" style="position:relative;overflow:hidden;padding-bottom:56.25%;height:0;" id="scythe-video1">
      <iframe src="{{videourl_video1}}" frameborder="0" allowfullscreen="" width="560" height="315" style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
    <h3 id="scythe-heading1" style="color:#000000;">The Scythe rant </h3>
    <ion-list id="scythe-list2">
      <ion-item class="item-avatar item-icon-right" id="scythe-list-item5">
        <img src="img/AAuE7mDn4BvKrA0sDlwXmBlckS8NRNi7xCzOcvNTzAs48-mo-c-c0xffffffff-rj-k-no">
        <h2>Shwerpy</h2>
        <p>Published on Jun 21, 2018</p>
        <i class="icon ion-ios-videocam-outline icon-accessory"></i>
      </ion-item>
    </ion-list>
    <div id="scythe-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Credit to pLolz for a bunch of the scythe clips so I don't get sued. Welcome to my 8th rant, I hope you enjoy how bad my jokes are.</p>
    </div>
  </ion-content>
</ion-view>