<ion-view title="Slider about brawlhalla" hide-nav-bar="true" id="page6">
  <ion-content padding="false" class=" manual-remove-top-padding" scroll="false">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider2" delegate-handle="slider2" id="sliderAboutBrawlhalla-slider2" style="width:100%;height:100%;">
      <ion-slide-page id="sliderAboutBrawlhalla-slide27" style="background:url(&quot;img/e5tjAabeSviKHgBpJdog_brawlhallabg.jpg&quot;) no-repeat center;background-size:cover;">
        <div>
          <img src="img/xvlh66tQInVg6jmdDiQU_brawlhallaicon2.png" style="display: block; width: 90%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 320px; height: 17px;"></div>
        <a href-inappbrowser="https://www.facebook.com/Brawlhalla/" id="sliderAboutBrawlhalla-button3" style="font-weight:600;color:#000000;font-size:20px;border-radius:121212px 121212px 121212px 121212px;" class="button button-positive button-large icon-left ion-social-facebook">Facebook</a>
        <a href-inappbrowser="https://twitter.com/brawlhalla" id="sliderAboutBrawlhalla-button2" style="font-weight:600;color:#000000;font-size:20px;text-align:left;border-radius:12121212px 12121212px 12121212px 12121212px;" class="button button-calm button-large icon-left ion-social-twitter">
        Twitter</a>
        <div class="spacer" style="width: 320px; height: 14.9805px;"></div>
      </ion-slide-page>
      <ion-slide-page id="sliderAboutBrawlhalla-slide28" style="background:url(&quot;img/OJHrqwNuT9eNfglqARdJ_brawlhallabg2.jpg&quot;) no-repeat center;background-size:cover;">
        <div class="spacer" style="width: 320px; height: 125.992px;"></div>
        <div id="sliderAboutBrawlhalla-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:40px;">Brawlhalla is a </p>
        </div>
        <div id="sliderAboutBrawlhalla-markdown8" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:40px;">free to play,</p>
        </div>
        <div id="sliderAboutBrawlhalla-markdown9" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:40px;"> fighting game </p>
        </div>
        <div id="sliderAboutBrawlhalla-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:40px;">that is available </p>
        </div>
        <div id="sliderAboutBrawlhalla-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:40px;">on PC , XBOX ,</p>
        </div>
        <div id="sliderAboutBrawlhalla-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:40px;"> PS4 and Nintendo</p>
        </div>
        <div id="sliderAboutBrawlhalla-markdown13" style="text-align:center;" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:40px;"> Switch.</p>
        </div>
        <div class="spacer" style="width: 320px; height: 51px;"></div>
        <div id="sliderAboutBrawlhalla-button-bar1" class="button-bar">
          <button id="sliderAboutBrawlhalla-button10" class="button button-positive button-block button-clear"></button>
          <button id="sliderAboutBrawlhalla-button11" style="font-weight:500;color:#000000;border-radius:22px 22px 22px 22px;" class="button button-energized button-block">Play Now</button>
          <button id="sliderAboutBrawlhalla-button12" class="button button-positive button-block button-clear"></button>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>